<div style="text-align: center;">
  <h1><%= @user.username %>'s profile</h1>
</div>
<div style="text-align: center;">
  <%= gravator_for @user, size: 200 %>
</div>
<% if logged_in? && @user == current_user %>
  <div style="text-align: center;">
      <%= link_to "Edit your profile", edit_user_path(@user) %>
  </div>
  <% end %>

<div style="text-align: center;">
  <h1><%= @user.username %>articles</h1>
</div>
<div class="flickr_pagination">
   <%= will_paginate @articles, :container => false %>
</div>

<%= render 'articles/article' %>

<div class="flickr_pagination">
   <%= will_paginate @articles, :container => false %>
</div>

<%= link_to 'Return to articles listing', articles_path %> 

<%= button_to 'Logout', logout_path, method: :delete, data: { confirm: 'Are you sure?' } %>

